# Dependencias
node_modules/

# Variables de entorno
.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Allure
allure-results/
allure-report/

# VS Code
.vscode/

# Sistema / editor
.DS_Store